@model Web.Framework.Autofac.Models.DataModel

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Cached Date Time</h2>
        <p>
            Current Value stored: @Model.CachedDateTime
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Expires every minute</h2>
        <p>Refresh page within a minute and the time should not change.</p>
        <p>After 1 minute, the value should change as the cache entry expires.</p>
    </div>
    <div class="col-md-4">
        <h2>Glav.CacheAdapter / Autofac Example</h2>
        <p>A simple example showing how to use Autofac and Glav.CacheAdapter</p>
    </div>
</div>